@model CreateBannerDto
@{
    ViewData["Title"] = "CreateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Banner Girişi</h4>
                        <p class="card-subtitle mb-4">Banner alanına veri girişini aşağıdaki panelden yapabilirsiniz. Kaydet butonuna basmayı unutmayınız.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputBrand">Marka Adı</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Başlığı Giriniz.">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputBrand">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescrition" asp-for="Description" placeholder="Açıklamayı Giriniz.">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputBrand">Video Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputVideo" asp-for="VideoDescription" placeholder="Video Açıklama Bilgisini Giriniz..">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputBrand">Video URL</label>
                                <input type="text" class="form-control" id="exampleInputVideoDescription" asp-for="VideoUrl" placeholder="Video linkini Giriniz.">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Banner Bilgisini Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

