@model List<GetTagCloudByBlogIdDto>
<div class="sidebar-box ftco-animate">
    <h3>Etiketler</h3>
    <div class="tagcloud">
        @foreach (var item in Model)
        {
            <a href="#" class="tag-cloud-link">Life</a>
        }
    </div>
</div>