@model ResultLocationDto

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <!-- Form method="post" olmalı -->
                        <form method="post" action="/RentACarList/Index" class="request-form ftco-animate bg-primary">
                            <h2>Aracınızı Hemen Kiralayın</h2>
                            <div class="form-group">
                                <label for="" class="label">Alınacak Lokasyon</label>
                                <select asp-for="LocationId" asp-items="@ViewBag.datas" class="custom-select">
                                    <option value="">---Seçiniz---</option>
                                </select>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Alınmak Istenen Tarih</label>
                                    <input type="text" class="form-control" name="book_pick_date" placeholder="Date">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">İade Tarihi</label>
                                    <input type="text" class="form-control" name="book_off_date" placeholder="Date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="label">Alış Saati</label>
                                <input type="text" class="form-control" name="pickup_time" placeholder="Time">
                            </div>
                            <div class="form-group">
                                <label for="" class="label">İade Saati</label>
                                <input type="text" class="form-control" name="return_time" placeholder="Time">
                            </div>
                            <!-- type="submit" olmalı ki formu gönderebilsin -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary py-3 px-4">Uygun Araçları Listele</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>