
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@*BURAYA GIDER VE DEFAULT ADLI VIEW' I ARAR.*@
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    <!-- END nav -->
    @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")

    @RenderBody()
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")
     
    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
</body>
</html>



