@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Araç Özelliği Güncelleme</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili özellikleri aşağıdaki kutucuğa doldurmanız önemle rica olunur. Kaydet butonuna basmayı unutmayınız.</p>

                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="FeatureId" />
                                <label for="exampleInputBrand">Özellik Adı</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="Name" placeholder="Özellik Girişi Yapınız.">
                            </div>
                            <button type="submit" class="btn btn-outline-success">Özelliği Kaydet</button>
                            <a href="/AdminFeature/Index" class="btn btn-outline-warning">Vazgeç</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


