@model List<GetCommentByBlogIdDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="Blogd">
                    <div class="Blogd-body">
                        <h4 class="Blogd-title">Yorum Listesi - BlogId:@ViewBag.Id</h4>
                        <p class="Blogd-subtitle mb-4">
                            Bloglarla ilgili yorum listesini bu sayfadan görebilirsiniz. İlgili yorumları kaldırabilir ya da tekrar aktif hale getirebilirsiniz.
                        </p>
                        @foreach (var item in Model)
                        {
                            count++;
                            <div class="col-md-12">
                                <div class="card">
                                    <h5 class="card-header">Yorum - @count</h5>
                                    <div class="card-body">
                                        <h4 class="card-title">@item.Name <img src="@item.ImageUrl" width="75" height="75" style="margin-right:10px" /></h4>
                                        <p class="card-text">
                                            @item.Description
                                        </p>
                                        <a href="#" class="btn btn-primary waves-effect waves-light">Yorumu Kaldır</a>
                                        <a href="/Admin/AdminAbout/Index" class="btn btn-warning waves-effect waves-light">Geri Dön</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
