@model CreateServiceDto

@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Hizmet Girişi Sayfası</h4>
                        <p class="card-subtitle mb-4">Ana sayfa ve hizmetler bölümünde yer alan hizmet ekleme sayfasıdır. Tema bütünlüğünün korunması adına 4 adet hizmet girişi yapınız.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputBrand">Hizmet Adı</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Hizmet Başlığını Giriniz.">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputBrand">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Hizmet Açıklamasını Giriniz.">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputBrand">Resim</label>
                                <input type="text" class="form-control" id="exampleInputIcon" asp-for="ImageUrl" placeholder="Hizmet Ikon Bilgisini Giriniz.">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Hizmet Bilgisini Kaydet</button>
                            <a href="/Admin/AdminService/Index" class="btn btn-warning waves-effect waves-light">Vazgeç</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>